  <!DOCTYPE html>

{{#if user}}
    <!DOCTYPE html>
<html class="full" lang="en">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Full - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/full.css" rel="stylesheet">
    <link href="css/upload.css" rel="stylesheet">
    <script src="js/bootstrap.js"> </script>
       <script src="js/upload.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LOGO</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="users/logout">Logout</a>
                    </li>
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Put your page content here! -->
    {{{body}}}

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
{{else}}

<html class="full">
    <head>
        <title>Starting App with Node ...Cool!!</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/style.css">
        {{#if user}}
        <link rel="stylesheet" href="/css/index.css">
        {{/if}}
    </head>
    <body>
        <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {{#if user}}
                  <li role="presentation"><a href="/users/logout">Logout</a></li>
                  <li role="presentation" class="active"><a href="/">Home</a></li>

            {{else}}
                   <li role="presentation"><a href="/users/login">SIGN IN</a></li>
                  <li role="presentation"><a href="/users/register">SIGN UP</a></li>
            {{/if}}
          </ul>
        </nav>
        <h3 class="text-muted">LOGO</h3>
      </div>

     <div class="padset">
      <div class="row">
        <div class="col-lg-6 panel panel-default">
            {{#if success_msg}}
              <div class="alert alert-success">
                {{success_msg}}
              </div>
            {{/if}}

              {{#if error_msg}}
              <div class="showmyerr">
                * {{error}}
                <p></br></p>
              </div>
              {{/if}}

              {{#if error}}
              <div class="showmyerr">
                * {{error}}
                <p></br></p>
              </div>
              {{/if}}
              
          {{{body}}}
          
        </div>

        

        <div class="col-lg-6">
            
            
              
                  <img width="60%" height="60%" style="display:block ; margin-left:auto;margin-right:auto;margin-top:auto;margin-bottom:auto" src="/img/animat-day-night-color.gif"></img>
                  
            
        </div>
      </div>
       </div>

      <footer class="footer">
        <p>&copy; 2016 My first Login app .</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </body>
</html>
  
{{/if}}


